<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.film.mapper.RegisterMapper">

    <!-- int register(Info info) -->
    <insert id="register" parameterType="Info">
        INSERT INTO info (name,pwd)
        VALUES (#{name},#{pwd})
    </insert>
</mapper>